.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  text-align: center;
}

i {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.log-head {
  /* display: flex; */
  border-bottom: 1px solid black;
}

.log-head > span {
  justify-content: space-between;
  margin: -21px 0px 0px;
}

.name-and-gender {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
  /* justify-content: space-evenly; */
}

.name-and-gender > div {
  width: 30%;
}

.name-box {
  min-width: 45%;
  text-align: center;
}

.weather-box {
  text-align: center;
  margin-top: -3.5%;
  /* max-width: 45%; */
  /* border-bottom: 1px solid black; */
  /* border-left: 1px solid black; */
  /* border-radius: 2%; */
}

.weather-box > p {
  /* max-width: 45%; */

  font-size: 0.75em;
  margin-top: 7px;
  margin-bottom: 2px;
}

.weather-icon {
  margin: -43px 0px -36px;
  /* margin: -41px 15px -36px; */
  /* border: 1px solid black; */
  /* FOR MOBILE margin:-6.7vh 4.98vw */
}

.gradient {
  background: rgb(2, 10, 46);
  background: linear-gradient(
    90deg,
    rgba(2, 10, 46, 1) 0%,
    rgba(12, 35, 135, 1) 30%,
    rgba(87, 139, 53, 1) 59%,
    rgba(255, 195, 66, 1) 100%
  );
}

/* VIEW ALL LOGS PAGE */

.view-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 1px dotted black;
}

.view-header > div > h1 {
  margin: 0px 0 4vh 0;
}

.create-log-link {
  text-align: center;
}

.log-box {
  display: flex;
  flex-wrap: wrap;
}

.log {
  border: 1px solid black;
  margin: 5vh 1vh;
  padding: 0 1vw;
  border-radius: 10px;
  width: 550px;
}

.weather-audit {
  border: 1px solid black;
  margin: 1vh;
  padding: 0 1vw;
  max-width: 500px;
}

.filter-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header {
  display: flex;
  justify-content: space-between;
}

.gender {
  margin-left: 2vw;
  /* text-align: end; */
}

.mood-and-productivity {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.mood-and-productivity > h3 {
  width: 40%;
  /* display: flex;
  justify-content: space-between; */
  border: 1px solid black;
}

.mood-and-productivity > h3 > p {
  color: red;
}

@media (max-width: 420px) {
  .filter-box > div {
    width: 100%;
    margin: 2vh 0;
    text-align: center;
  }
}

/* SIGNUP */
.signup {
  border: 2px solid black;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  min-height: 300px;
  max-width: 400px;
  margin: 0 2vw;
  padding: 2vh 1vw;
}

/* .signup > form {
  min-height: 280px;
} */

.signup-button {
  display: flex;
  /* align-items: flex-end; */
  justify-content: center;
}

.signup-button > button {
  margin-top: 5vh;
  font-size: 2em;
  height: 50px;
  width: 60%;
  border-radius: 1ch;
  margin-bottom: 2vh;
  margin-top: 8vh;
}

.signup-header {
  text-align: center;
  font-size: 1.66em;
  margin-bottom: 2vh;
}

.form-piece {
  display: flex;
  justify-content: space-between;
  margin: 2vh 0;
}

.signup-message {
  /* margin: 5vh 0; */
  color: red;
  text-align: center;
}
