.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.log {
  border: 1px solid black;
  margin: 1vh;
  padding: 0 1vw;
}

.gradient {
  background: rgb(2, 10, 46);
  background: linear-gradient(
    90deg,
    rgba(2, 10, 46, 1) 0%,
    rgba(12, 35, 135, 1) 30%,
    rgba(87, 139, 53, 1) 59%,
    rgba(255, 195, 66, 1) 100%
  );
}

.weather-audit {
  border: 1px solid black;
  margin: 1vh;
  padding: 0 1vw;
  max-width: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.weather-icon {
  margin: -42px 15px;
  /* FOR MOBILE margin:-6.7vh 4.98vw */
}

@media (min-width: 750px) {
}
