<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script>
  if ("geolocation" in navigator) {
    console.log("Geolocation is available")
  } else {
    console.log('geolocation IS NOT available')
  }
</script>