<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- <h2>Latitude: <span id="lat">&deg;</span></h2>
<h2>Longitude: <span id='lon'>&deg;</span></h2> --}}

<button id="find-me">Show my location</button><br />
<p id="status"></p>
<a id="map-link" target="_blank"></a>